<a href="https://colab.research.google.com/github/wpz1228/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(123)

123

In [ ]:
i = range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [ ]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [ ]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
g = range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [ ]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
  print(n)

0
1
2

In [ ]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for n in range(0,10,2):
  print(n,end=",")

0,2,4,6,8,

In [ ]:
test = int(input("請輸入一個正整數:"))
for n in range(1,test+1):
  print(n, end=" ")

請輸入一個正整數:15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [ ]:
sum = 0
for n in range(3):
  sum = sum+n
print(sum)

3

In [ ]:
sum = 0
for n in range(10,1,-2):
  sum = sum+n
print(sum)

30

In [ ]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1,test+1):
  sum = sum+n
print("1到",test,"的整數和和為",sum)

請輸入一個正整數:10
1到 10 的整數和和為 55

In [ ]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1,test+1):
  sum = sum+n
print("1到",test,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [12]:
test = int(input("請輸入一個正整數:"))
sum = 0
for m in range(1,test+1):
  sum = sum+m
  print(f"1到{m}的整數和為:",sum,end="\n")

請輸入一個正整數:10
1到1的整數和為: 1
1到2的整數和為: 3
1到3的整數和為: 6
1到4的整數和為: 10
1到5的整數和為: 15
1到6的整數和為: 21
1到7的整數和為: 28
1到8的整數和為: 36
1到9的整數和為: 45
1到10的整數和為: 55